# Import requirements

In [2]:
import pandas as pd
import numpy as np
from collections import Counter
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('chained_assignment',None)

# Import calendar data

In [10]:
def quick_csv_read(fpath):
    '''
    quickly read a file into a pandas dataframe, display its number of rows
    and columns, show the header
    '''
    df = pd.read_csv(fpath)
    print df.shape
    return df

fpath_calendar = '../SanDiego/calendar.csv'
calendar_df = quick_csv_read(fpath_calendar)
calendar_df.head()

(2411920, 4)

   listing_id        date available   price
0    11204286  2017-07-05         t  $49.00
1    11204286  2017-07-04         t  $49.00
2    11204286  2017-07-03         t  $49.00
3    11204286  2017-07-02         t  $49.00
4    11204286  2017-07-01         t  $49.00

# Survey calendar info

In [9]:
new_dict = {'listing_id':[], 'number_available':[], 'number_unavailable':[]}

list_ids = calendar_df.listing_id
for lid in list(set(list_ids)):
    sub_df = calendar_df[calendar_df['listing_id']==lid]
    available_count = sum(sub_df['available']=='t')
    not_available_count = sum(sub_df['available']=='f')
    
    new_dict['listing_id'].append(lid)
    new_dict['number_available'].append(available_count)
    new_dict['number_unavailable'].append(not_available_count)
    
pd.DataFrame(new_dict)

      listing_id  number_available  number_unavailable
0        9175040               291                  74
1        4227074               155                 210
2        3604484                 0                 365
3              6                42                 323
4        7406591               347                  18
5        1769492                18                 347
6        4816925               280                  85
7        4227110               310                  55
8        4423720               339                  26
9        3571771                 6                 359
10      13369419                24                 341
11       7733338               312                  53
12       5242973                34                 331
13      11337825               248                 117
14       6291566               319                  46
15       7110768               306                  59
16        589214                38                 327
17      11698310               327                  38
18        426121               309                  56
19      13467793                45                 320
20       6226073               155                 210
21      13729947                73                 292
22      13140124               326                  39
23       3113120                 0                 365
24       1245346               305                  60
25      13172900                 8                 357
26       3342508               340                  25
27      12091568                 5                 360
28       9339065               250                 115
29       1507515                45                 320
...          ...               ...                 ...
6578      393062               225                 140
6579     2391912                 7                 358
6580     7205818               115                 250
6581    11992945               329                  36
6582    12091250               334                  31
6583     3080062                47                 318
6584    12409418               153                 212
6585     3211144                65                 300
6586     6848394               343                  22
6587    11042703               332                  33
6588    11239322               343                  22
6589    11534237               347                  18
6590     9207712               332                  33
6591     4292518               199                 166
6592     4226983               326                  39
6593     6782897               350                  15
6594     7241650                 0                 365
6595     4030387               310                  55
6596    12681141               363                   2
6597     3702714                 0                 365
6598    11042750                 0                 365
6599     1212363               354                  11
6600     3211214                70                 295
6601     9732049               310                  55
6602    11927506               277                  88
6603     5832665               313                  52
6604      720861               355                  10
6605     1441767               152                 213
6606    13598709                62                 303
6607     4030463                 3                 362

[6608 rows x 3 columns]

In [24]:
sum(sub_df['available']=='t')
sum(sub_df['available']=='f')

362