In [12]:
import pandas as pd
import numpy as np
from collections import Counter
import sqlite3
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('chained_assignment',None)

In [10]:
conn = sqlite3.connect("airbnb.db")
query = conn.execute("select * from properties")
cols = [column[0] for column in query.description]
results = query.fetchall()

In [11]:
sql_df = pd.DataFrame(results, columns=cols)
print sql_df.shape
sql_df.head()

(6593, 172)

,price,accommodates,bathrooms,bedrooms,beds,latitude,longitude,24-Hour Check-in,Air Conditioning,Breakfast,...,neighbourhood_cleansed_Thomy Locust Pl,neighbourhood_cleansed_Tierrasanta,neighbourhood_cleansed_Tijuana River Valley,neighbourhood_cleansed_Torrey Pines,neighbourhood_cleansed_University City,neighbourhood_cleansed_Valencia Park,neighbourhood_cleansed_Webster,neighbourhood_cleansed_West University Heights,neighbourhood_cleansed_Wooded Area,neighbourhood_cleansed_Yosemite Dr
0,49.0,2,1.0,1.0,1.0,32.581882,-117.001940,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,59.0,2,1.0,1.0,1.0,32.653029,-116.976812,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,150.0,6,2.5,3.0,3.0,32.661477,-116.971813,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,120.0,4,1.5,2.0,3.0,32.638694,-116.951252,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,70.0,2,1.0,1.0,1.0,32.638942,-116.938891,1,0,1,...,0,0,0,0,0,0,0,0,0,0